/*
 * Globals
 */

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    min-height: 100%;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #222 center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    text-align: center;
    text-shadow: 0 0 10px #000, 0 0 10px #000;
}

.text-s, #impress .text-s { font-size: 0.8em; }
.text-xs, #impress .text-xs { font-size: 0.66em; }

#footer {
    color: #777;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#footer small {
    text-shadow: none;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px 10px #111;
    -moz-box-shadow: inset 0 0 100px 10px #111;
    box-shadow: inset 0 0 100px 10px #111;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 10px 30px;
}

/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav {
    margin: 0 auto;
}
.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    display: inline-block;
    font-size: 16px;
    padding: 12px 0;
    margin: 0;
    color: #fff; /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

#navigation {
    background: rgba(0,0,0,0.5);
    width: 100%;

}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus,
.masthead-nav > li > a.active {
    background-color: transparent;
    text-decoration: none;
    color: white;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        /*float: right;*/
    }
}

/*
 * Cover
 */

.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
}

/*
 * Affix and center
 */

/*@media (min-width: 768px) {*/
    /* Pull out the header and footer */
    .masthead {
        position: absolute;
        top: 0;
    }

    .mastfoot {
        position: fixed;
        bottom: 0;
    }

    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }

    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
        z-index: 200;
    }
/*}*/

@media (min-width: 992px) {
    /*.masthead .inner,*/
    .mastfoot .inner,
    .cover-container {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}

/************************************************
*************************************************
******************* * * * * * *******************
******************* impressjs *******************
******************* * * * * * *******************
*************************************************
************************************************/

.fallback-message {
    line-height: 1.3;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;
    border: 1px solid #E4C652;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

.step {
    position: relative;
    width: 900px;
    padding: 20px 0 0 0;
    margin: 20px auto;
    font-size: 3em;
}

.impress-enabled .step {
    margin: 0;
    -webkit-transition: opacity 750ms;
    -moz-transition: opacity 750ms;
    -o-transition: opacity 750ms;
    transition: opacity 750ms;
}

/*** INDEXES ***/
#background { z-index: 0; }
#arrow_container { z-index: 250; }
#content { z-index: 750; }
#footer { z-index: 1000; }
#arrow_clickable { z-index: 2500; }

.impress_slides_container > div {
    width: 100%;
    height: 100%;
}

.step {
    display: block;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    color: white;
    font-size: 30px;
}


#accueil, #infos, .step[data-image="true"] {
    background-repeat: no-repeat;
    background-position: center;
}
.step[data-image="true"] {
    width: 100%;
    height: -webkit-calc(100% - 52px);
    height: -moz-calc(100% - 52px);
    height: calc(100% - 52px);
    margin-top: 26px;
}
#accueil, #infos {
    width: 100%;
    height: 100%;
    margin-top: 26px;
}
.step.active, .step.present {
    opacity: 1;
}

.step > p {
    display: block;
    font-size: 50px;
}

.slide p strong {
    white-space: nowrap;
}

#overview {
    display: none
}

.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}


#arrow_clickable,
#arrow_container {
    position: fixed;
    top: 0;
    left: 0;
}
#arrow_container {
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}
#left_arrow_clickable {
    position: fixed;
    left: 0;
    width: 100px;
    height: 100%;
}
#right_arrow_clickable {
    position: fixed;
    right: 0;
    width: 100px;
    height: 100%;
}
#left_arrow_clickable:hover, #right_arrow_clickable:hover {
    background: rgba(0,0,0,0.1);
}
#left_arrow_clickable:active, #right_arrow_clickable:active {
    background: rgba(0,0,0,0.2);
}

#left_arrow, #right_arrow {
    display: inline-block;
    height: 30px;
    margin: -15px auto 0 auto;
    position: fixed;
    top: 50%;
    font-size: 25px;
    color: #bbb;
    vertical-align: middle;
}

#left_arrow span, #right_arrow span {
    vertical-align: middle;
}
#left_arrow {
    left: 40px;
    text-align: left;
}

#right_arrow {
    right: 40px;
    text-align: right;
}

#slider-thumbnails {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 35px;
    text-align: center;
    width: 100%;
}
#slider-thumbnails a {
    margin: 0 5px;
}
#slider-thumbnails img {
    -webkit-box-shadow: 0 0 15px #000;
    -moz-box-shadow: 0 0 15px #000;
    -o-box-shadow: 0 0 15px #000;
    box-shadow: 0 0 15px #000;
    margin: 0;
    z-index: 8000;
}
#slider-thumbnails a.active img,
#slider-thumbnails img:hover
{
    -webkit-box-shadow: 0 0 15px #444;
    -moz-box-shadow: 0 0 15px #444;
    -o-box-shadow: 0 0 15px #444;
    box-shadow: 0 0 15px #444;
}
#slider-thumbnails a,
#slider-thumbnails a img {
    display: inline-block;
    text-align: center;
    padding: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
}



.contact-icons a:hover { box-shadow: 0 2px rgba(255,255,255,0.5); }
.contact-icons {
    margin: 0 auto;
    display: block;
}
.contact-icons a {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-right: 10px;
}

.navbar-toggle .icon-bar {
    background: #dadada;
}
.navbar-toggle {
    color: white;
    margin: 0 auto;
    float: none;
}
.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.dropdown-menu {
    background-color: rgba(0,0,0,0.6);
    margin-top: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}
.dropdown-menu>li>a,
.dropdown-menu>li>a:hover {
    color: white;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background: rgba(128, 128, 128, 0.7);
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    background: rgba(200, 200, 200, 0.6);
}
.navbar-collapse.in {
    overflow-x: visible;
    overflow-y: visible;
}
#accueil #slide-home-coming-soon {
    height: 150px;
    top: 50%;
    position: absolute;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    margin-top: -75px;
}
.slide-center {
    display: table;
    width: 100%;
    height: 100%;
}
.slide-center-inner {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}
.step > h2 {
    font-family: 'Open Sans', 'Arial', sans-serif;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 0 150px;
    text-align: center;
    -webkit-transition: margin 400ms;
    -moz-transition: margin 400ms;
    -o-transition: margin 400ms;
    transition: margin 400ms;
    text-shadow: 0 0 25px #000, 0 0 25px #000, 0 0 25px #000;
}
.step .credits {
    text-shadow: 0 0 25px #000, 0 0 25px #000, 0 0 25px #000;
    font-family: 'Open Sans', 'Arial', sans-serif;
    position: absolute;
    bottom: 90px;
    left: 0;
    right: 0;
    padding-top: 20px;
    margin: 0 auto;
    text-align: left;
    -webkit-transition: bottom 400ms;
    -moz-transition: bottom 400ms;
    -o-transition: bottom 400ms;
    transition: bottom 400ms;
}
.step .credits > span.glyphicon {
    position: absolute;
    left: 0;
    top: -25px;
    padding: 10px;
    margin-bottom: 10px;
}
.step .credits > span.glyphicon:hover {
    text-shadow: 0 0 25px #666, 0 0 25px #666, 0 0 25px #666;
    cursor: pointer;
}
.step .credits .credits-inner {
    display: none;
    overflow: hidden;
    font-size: 0.6em;
    margin: -25px 0;
    padding: 25px;
}
.step .credits .credits-inner.active {
    overflow: visible;
}
.step .credits .credits-inner h2 {
    text-align: center;
    margin: -40px auto 5px auto;
    padding: 0;
}


.step.active .credits > span.glyphicon {
    -webkit-transition: opacity 750ms;
    -moz-transition: opacity 750ms;
    -o-transition: opacity 750ms;
    transition: opacity 750ms;
}
.step.active .credits > span.glyphicon {
    opacity: 1;
}
.step.past .credits > span.glyphicon,
.step.future .credits > span.glyphicon
{
    opacity: 0;
}

.step.past.active, .step.future.active,
.step.past.leaving, .step.future.leaving {
    visibility: visible;
}

.infos-block {
    padding: 20px 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background: rgba(255,255,255,0.4);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    box-shadow: 0 0 40px 25px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    text-shadow: none;
    margin-top: 120px;
    color: black;
    width: 100%;
    font-size: 18px;
}
.infos-block * {
    font-size: 18px;
    color: black;
}
.infos-block a {
    color: darkred;
}
.infos-block a:hover {
    color: #666;
}
.infos-block a:active {
    color: #333;
}

@media (max-width: 767px) { .infos-block {width: 100%;} .step .credits {width: calc(100% - 200px);} }
@media (min-width: 768px) { .infos-block {width: 700px;} .step .credits {width: calc(100% - 250px);} }
@media (min-width: 992px) { .infos-block {width: 920px;} .step .credits {width: 720px;}  }
@media (min-width: 1200px) { .infos-block {width: 1120px;} .step .credits {width: 900px;}  }