{% spaceless %}
<h2>Technologies :</h2>
<ul class="list-details">
    <li>PHP 5.2 à 5.6:
        <ul>
            <li>Symfony 1&2</li>
            <li>CodeIgniter</li>
            <li>CakePHP</li>
        </ul>
    </li>
    <li>Serveurs web:
        <ul>
            <li>Apache</li>
            <li>Nginx</li>
            <li>Phusion passenger</li>
            <li>Node</li>
        </ul>
    </li>
    <li>Javascript client:
        <ul>
            <li>jQuery</li>
            <li>Bootstrap</li>
            <li>SDK réseaux sociaux</li>
        </ul>
    </li>
    <li>Javascript serveur & Mobile:
        <ul>
            <li>ExtJS / Sencha Touch</li>
            <li>NodeJS</li>
        </ul>
    </li>
    <li>SGBD:
        <ul>
            <li>MySQL (MariaDB)</li>
            <li>SQLite</li>
            <li>MongoDB</li>
        </ul>
    </li>
    <li>OS:
        <ul>
            <li>Windows</li>
            <li>Debian</li>
            <li>CentOS</li>
            <li>Fedora</li>
            <li>MacOSX</li>
        </ul>
    </li>
    <li>CMS
        <ul>
            <li>Wordpress</li>
            <li>Joomla</li>
            <li>Drupal</li>
            <li>Prestashop</li>
            <li>Magento</li>
        </ul>
    </li>
    <li>Autres (le reste...)
        <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Responsive Web Design</li>
            <li>SEO</li>
            <li>Cloud computing</li>
        </ul>
    </li>
</ul>
{% endspaceless %}
