{% spaceless %}
<div id="table_wrapper">
<table class="table table-condensed table-responsive">
    <thead>
        <tr>
            <th colspan="3">
                <h2>Expérience professionnelle</h2>
            </th>
        </tr>
        <tr>
            <th>Dates</th>
            <th>Activité</th>
            <th>Entreprise/Lieu</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Depuis<br>Janvier 2015</td>
            <td>
                <h3>Web Developer (et lead)</h3>
                <p>Direction technique, développement et maintenance d'applications web développées avec les
                    technologies <a href="http://symfony.com/">Symfony</a> (1 et 2), ExtJS/Sencha Touch, Cordova et Magento.</p>
            </td>
            <td><a href="https://www.highco.com/fr">HighCo Shopper</a><br>Aix-en-Provence</td>
        </tr>
        <tr>
            <td>Décembre 2014</td>
            <td>
                <h3>Web Developer</h3>
                <p>Développement de scripts d'import de fichiers statistiques, ainsi que d'une interface de
                visualisation, création de filtres à facettes et de graphiques.</p>
            </td>
            <td>ERDF<br>Marignane</td>
        </tr>
        <tr>
            <td>Septembre 2014</td>
            <td>
                <h3>Lead Web Developer</h3>
                <p>Gestion de serveurs cloud (avec Amazon Web Services), développement de nouvelles fonctionnalités sur
                    une application <a href="http://symfony.com/">Symfony</a>, gestion technique du projet.</p>
            </td>
            <td><a href="https://www.cinqyou.com/">Cinqyou.com</a><br>Aix-en-Provence (télétravail)</td>
        </tr>
        <tr>
            <td>Mars 2014 –<br>Août 2014</td>
            <td>
                <h3>Développeur PHP – <a href="http://symfony.com/">Symfony</a></h3>
                <p>Maintenance et développement d'applications sous <a href="http://symfony.com/">Symfony</a>. Régie en SSII. 4 mois de régie chez
                    <a href="http://www.groupe-scala.com/">Groupe Scala</a> et 1,5 mois chez
                    <a href="http://www.allopneus.com/">Allopneus.com</a></p>
            </td>
            <td><a href="http://www.genwaves.fr/">Genwaves</a><br>Marseille / Aix-en-Provence</td>
        </tr>
        <tr>
            <td>Juin 2013 -<br>Décembre 2013</td>
            <td>
                <h3>Lead API Developer</h3>
                <p>Chargé de la maintenance et développement d'un ERP en PHP (pas de framework ou de structure standard)
                    Chargé de la création d'une API et de webservices reliés à cette même application.</p>
            </td>
            <td>Groupe B.C. – Webcom Solutions<br>Aix-en-Provence</td>
        </tr>
        <tr>
            <td>Janvier 2013 –<br>Mars 2013</td>
            <td>
                <h3>Programmeur/analyste Web (stage)</h3>
                <p>Réalisation et intégration d'un <em>Flipbook</em> dans le CMS KoéZion (basé sur
                    <a href="http://cakephp.org/">CakePHP</a>), puis modélisation d'un SGBD relationnel, techniques
                    <a href="http://fr.wikipedia.org/wiki/Merise_%28informatique%29">Merise</a> en vue d'une appli dans
                    ce CMS.</p>
            </td>
            <td><a href="http://www.iefm3d.com/">IEFM3D</a><br>Montpellier</td>
        </tr>
        <tr>
            <td>Juin 2012</td>
            <td>
                <h3>Développeur Web (stage)</h3>
                <p>Création et maintenance de sites internet et intranet, utilisation et
                    développement sur un CMS "maison"</p>
            </td>
            <td>KIC<br>Nîmes</td>
        </tr>
        <tr>
            <td>Mai 2011 -<br>Décembre 2011</td>
            <td>
                <h3>Technicien de maintenance informatique</h3>
                <p>Développement de pilotes de configuration pour application web-crawler.</p>
            </td>
            <td>LexisNexis/Datops<br>Nîmes</td>
        </tr>
    </tbody>
</table>
</div>
{% endspaceless %}
