{% spaceless %}
<h1>Alexandre ancelet</h1>
<h2>Web developer.</h2>
<br>
<a class="btn btn-link" href="http://files.pierstoval.com/A.ANCELET_-_Developpeur_Web_full.pdf?download">Télécharger le CV au format PDF</a>
{% endspaceless %}
